<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST"> {% csrf_token %}
        <input type="hidden" name = "action" value="delete_data">
        <input type="submit" value="Clear Database">
    </form>
    <form method="POST"> {% csrf_token %}
        <input type="hidden" name = "action" value="load_data">
        <input type="submit" value="Load Data">
    </form>
    <div>
        {% for user in users %}
        <p> {{ user.username }} </p>
        {% endfor %}
        {% for post in posts %}
        <p> {{ post.title }} </p>
        {% endfor %}
    </div>
</body>
</html>