<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST"> {% csrf_token %}
        <input type="hidden" name = "action" value="delete_data">
        <input type="submit" value="Clear Database">
    </form>
    <form method="POST"> {% csrf_token %}
        <input type="hidden" name = "action" value="load_data">
        <input type="submit" value="Load Data">
    </form>
    <div>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Post Title</th>
                <th>Post Body</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.user_id.username }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>